# Ignore data/raw folder (containing audio files)
data/raw/

# Ignore virtual environment directory (venv)
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore Notebooks files 
*.ipynb_checkpoints

*.env

# Ignore Excel Files
*.xlxs
*.odt
